{% load static %}

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Kalendarz</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/background.css' %}">
</head>
<body>
{% include "app/nav.html" %}
<h1>Statystyki</h1>
<form method="post" action="{% url 'charts' %}">
    {% csrf_token %}
    <p>
        <label>Od
            <input type="date" name="since" value="{{since}}">
        </label>
        <label>do
            <input type="date" name="until" value="{{until}}">
        </label>
    </p>
    <p>
        <label>Ćwiczenie
            <input name="chosen_ex" list="exercises" type="text" value="{{object}}"/>
            <datalist id="exercises">
                {% for exercise in all_exercises %}
                <option value="{{exercise.name}}">
                    {% endfor %}
            </datalist>
        </label>
    </p>
    <input type="submit" value="Potwierdź">
</form>
<div>
    {{ graph|safe }}
    {{ ex_graph|safe }}
</div>
</body>