{% load static %}

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/background.css' %}">
</head>
<body>
{% include "app/nav.html" %}
<h1>Ćwiczenia na dzień {{ date }}</h1>
{% for exercise in exercises %}
<p>
    {{ exercise.exercise_name }} {{ exercise.weight }}kg, {{ exercise.repetitions }} powtórzeń, {{ exercise.sets }}
    serii
    <a href="details/{{exercise.id}}">Edytuj</a>
    <a href="details/{{exercise.id}}/delete">Usuń</a>
</p>
{% empty %}
<p>Dzień wolny</p>
{% endfor %}

<a href="new"><button>Dodaj ćwiczenie</button></a>
</body>
</html>