{% load static %}

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Ćwiczenie</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/background.css' %}">
</head>
<body>
{% include "app/nav.html" %}
<h1>Ćwiczenia na dzień {{ date }}</h1>
<form method="POST" action="{{ submit }}">
    {% csrf_token %}
    <p>
        <label>Ćwiczenie
            <input name="chosen_ex" list="exercises" type="text" value="{{object.exercise_id.name}}"/>
            <datalist id="exercises">
                {% for exercise in all_exercises %}
                <option value="{{exercise.name}}">
                    {% endfor %}
            </datalist>
        </label>
    </p>
    <p>
        <label>Liczba powtórzeń
            <input name="repetitions" type="number" value="{{object.repetitions}}" min="1"/>
        </label>
    </p>
    <p>
        <label>Liczba serii
            <input name="sets" type="number" value="{{object.sets}}" min="1"/>
        </label>
    </p>
    <p>
        <label>Ciężar
            <input name="weight" type="number" value="{{object.weight}}" step="0.05"/>
            [kg]</label>
    </p>
    <input type="submit" value="Zatwierdź"/>
</form>
<a href="{{ back }} ">
    {% csrf_token %}
    <button>Anuluj</button>
</a>

</body>
</html>