<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Simple PHP document</title>
    <link rel="stylesheet" href="index.css?v=<?php echo time(); ?>">
</head>

<body>
    <h1>Login</h1>
    <form  method="POST" action="{% url 'login_check' %}" onsubmit="onSubmit()" onreset="onReset()">
        {% csrf_token %}
        <p>
            <label>Login</label>
            <label>
                <input name="login" type="text" placeholder="Wprowadź login..." style="margin-left: 10px; width: 250px" />
            </label>
        </p>
        <p>
            <label>Haslo</label>
            <label>
                <input name="pass" type="password" placeholder="Wprowadź haslo..."
                    style="margin-left: 10px; width: 250px" />
            </label>
        </p>
        <p>
        <input type="submit" value="Submit" />
        </p>
    </form>
    <form action="registration.php">
        <input type="submit" value="Zarejestruj się" />
    </form>
</body>

</html>