{% load static %}

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Kalendarz</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/background.css' %}">
</head>
<body>
{% include "app/nav.html" %}
<h1>Kalendarz</h1>
{{ calendar }}
<p class="switch_month" style="left: 25%">
    <a href="{% url 'calendar' previousYear previousMonth %}">Poprzedni miesiąc</a>
</p>
<p class="switch_month" style="right: 25%">
    <a href="{% url 'calendar' nextYear nextMonth %}">Kolejny miesiąc</a>
</p>
<p style="text-align: center">
    <a href="{% url 'copy_period' %}">Kopiowanie dni</a>
</p>
</body>
</html>